<div class="main-container">
    <app-table-data
        [tableData]="postlist"
        [tableColumns]="postTableColumns"
        [isPageable]="true"
        [isFilterable]="true"
        [isFilterable]="true"
        [isPageable]="true"
        [paginationSizes]="[2,4,6]"
        [defaultPageSize]="5"
        [tooltip]="'route works here'"
        [title]="title"
        (sort)="sortData($event)"
        (rowAction)="removeOrder($event)"
        (getrowDetails)="getrowDetails($event)">
    </app-table-data>
    </div>
