.example-card {
    max-width: 400px;
    height: auto;;
  }
  
  .main-image{
    margin:10px auto;
    width: 100%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
    background-size: cover;
  }
  